.conttitle{
  font-size: 50px;
  text-shadow: 2px 2px 5px #57AEEF;
  color: #CCD6F6;
  margin-bottom: 2em;
}
.main_contact_container{
  width: 100%;
  height: 100vh;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
  width: 300px;
  box-shadow: 0 4px 8px 0 #8499BF, 0 6px 20px 0 #8499BF;
  margin-right: 200px;
  margin-left: 200px;
  height: 200px;
  border-radius: 5px;

}
.resume_btn{
  text-decoration: none;
  color: var(--txtcolor);
}
.resume{
  margin-top: 20px;
}
.resume_btn:hover{
  color: var(--pink);
}
