
.exp-container{
  width: 90%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.exptitle{
  font-size: 50px;
  text-shadow: 2px 2px 5px #57AEEF;
  color: #CCD6F6;
  margin-bottom: 1.5em;
}
.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.moodflow{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 10px 10px;
  margin-bottom: 150px;
}
h2{
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}
.span{
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  font-size: 0.75em;
  color: #c1fd90;
}
.textcont{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 10px 10px;
}
.text{
  background-color: var(--sec-bg-color);
  text-align: end;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 2;
  position: relative;
  border-radius: 2%;
  font-family: 'Calibre','Inter','San Francisco','SF Pro Text', sans-serif;
  box-shadow: 10px 10px 30px -12px rgb(1, 4, 41);
}
.moodP{
  color: var(--txtcolor);
  font-size: larger;
  font-family: 'Roboto';
}
.bold{
  font-weight: bold;
  font-size: smaller;
  grid-column-start: 7;
  grid-column-end: 11;
  z-index: 2;
  position: relative;
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  color: #c1fd90;
}
.imgcont{
  grid-column-start:1;
  grid-column-end:7 ;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 90%;
  background-color: var(--third-bg-color);
  box-shadow: 10px 10px 30px -12px rgb(1, 4, 41);
  padding-top: 7%;
  padding-left: 0%;
  padding-right: 0%; 
  z-index: 1;
  position: relative;
  padding-bottom: 0%;
  border-radius: 2%;
}
.two .imgcont{
  grid-column-start:4;
  grid-column-end:10;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 100%;
  background-color: var(--third-bg-color);
  box-shadow: 10px 10px 30px -12px rgb(1, 4, 41);
  padding-top: 7%;
  padding-left: 0%;
  padding-right: 0%; 
  z-index: 1;
  position: relative;
  padding-bottom: 0%;
  border-radius: 2%;
}
.two .textcont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 10px 10px;
}
.imgcont .one .three{
  margin-left: 10%;
}
.img{
  width: 30%;
  padding: 10px;
}
.img2{
  width: 90%;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .cont{
    width: 100%;
  }
  .moodflow{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
  }
  .textcont, .imgcont {
    min-width: 100%; 
  }
  .textcont{
    order: 1;
  }
  .imgcont{
    order: 2;
  }
  .img{
    width: 33%;
    padding: 10px;
  }
  .img2{
    width: 95%;
    padding: 10px;
  }
  .moodP{
    font-size: 3vw;
  }
  .bold{
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 400px){
  .imgcont{
    margin: 0;
  }
  .img{
    width: 33%;
    padding: 10px;
  }
  .img2{
    width: 95%;
    padding: 10px;
  }
}
