.navCont{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  background-color: #0E192F;
  padding-right: 20%;
  z-index: 4;
}
.nav{
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  margin-top: 5px;
}
.nav::before{
  content: "";
  display:inline;
  width: 100vw;
  height: 1px;
  margin: 0px auto;
  margin-top: 25px;
  background-color: var(--pink);
}
.btn{
  margin: 10px;
  font-size: larger;
  color: var(--border-color);
  text-decoration: none;
  font-family: 'Inconsolata';
}
.icons{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 50px;
  align-self: flex-start;
  justify-self: flex-start;
}
.icon{
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-left: 50px;
}
.icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 100vh;
  margin: 0px auto;
  margin-left: 65px;
  background-color: var(--green);
}
.bar{
  display: none;
}
@media screen and (max-width: 950px) {
  .navCont{
    padding: 0%;

  }
  .nav::before, .icons{
    display: none;
  }
  .nav{
    display: flex;
    flex-direction: row;
    margin:0;
    margin-top: 5px;
  }
  .bar{
    display: block;
    border-top: 2px solid var(--pink);
    width: 100%;
  }
}
