.navCont{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  background-color: var(--main-bg-color);
  padding-right: 20%;
  z-index: 4;
}
.nav{
  display: flex;
  flex-direction: row;
  margin-right: 25%;
  margin-top: 5px;
}
.nav::before{
  content: "";
  display:inline;
  width: 100vw;
  height: 1px;
  margin: 0px auto;
  margin-top: 25px;
  background-color: var(--pink);
}
.btn{
  margin: 10px;
  font-size: larger;
  color: var(--border-color);
  text-decoration: none;
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}
.btn:hover{
  color: #c0f992;
}
.icons{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 50px;
  align-self: flex-start;
  justify-self: flex-start;
}
.icon:hover{
  animation: headShake; 
  animation-duration: 2s;
}
.icon{
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-left: 50px;
}
.icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 100vh;
  margin: 0px auto;
  margin-left: 65px;
  background-color: var(--green);
}
.bar{
  display: none;
}
@media screen and (max-width: 950px) {
  .navCont{
    padding: 0%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav::before, .icons{
    display: none;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin:4%;

    /* margin-top: 5px; */
    width: 100%;
  }
  .btn{
    width: auto;
    font-size: 1.2em;
  }
  .bar{
    display: block;
    border-top: 2px solid #c0f992;
    width: 100%;
    color: #c0f992;
  }
}
