:root {
  --main-bg-color: #0E192F;
  --sec-bg-color: rgb(20, 39, 77);
  --accent-color: rgb(240,156,150);
  --txtcolor: #CCD6F6;
  --border-color: #8499BF;
  --orange: #C9975E;
  --green: #90BB6C;
  --pink: #AC6BC2;
  --transparent_pink: #ac6bc259;
  --blue: #57AEEF;
}
body{
  background-color: var(--main-bg-color);
  color: var(--txtcolor);
  width: 100%;
  height: 100%;

}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.nameCont{
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 150px;

}
.presCont{
  font-size: 30px;
  margin-top: 0px;
  color: var(--border-color);
  font-family: 'Inconsolata';
}
.name{
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 5px var(--blue);
  font-family: 'Inconsolata';
}
@media screen and (max-width: 950px) {
  .nameCont{
    width: 75%;
    font-size: 7vw;
  }
  .presCont{
    width: 75%;
    font-size: 5vw;
  }
}
